* {
	margin: 0;
	padding: 0;
    box-sizing: inherit;
    font-family: 'Karla', sans-serif;
}


body {
    box-sizing: border-box;
    background-image: url("https://images.unsplash.com/photo-1481349518771-20055b2a7b24?ixlib=rb-0.3.5&s=0ca09cf5f08182a9b6f57ddeec3496a2&auto=format&fit=crop&w=1109&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}


li {
    list-style: none;
}

ul {
    list-style-type: none;
    margin: 25px 250px 0px 0px;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
    margin: 0 18px;
    right: 250px;
    font-weight: 900;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}