* {
	margin: 0;
	padding: 0;
    box-sizing: inherit;
    font-family: 'Karla', sans-serif;
}


body {
    box-sizing: border-box;
    background-image: url("https://images.unsplash.com/photo-1503914068268-5413b35b45ad?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9b2568f8a73071d542cf7ac5508011ad&auto=format&fit=crop&w=1050&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}


li {
    list-style: none;
}

ul {
    list-style-type: none;
    margin: 25px 250px 0px 0px;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
    margin: 0 18px;
    right: 250px;
    font-weight: 900;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}