* {
	margin: 0;
	padding: 0;
    box-sizing: inherit;
    font-family: 'Karla', sans-serif;
}


body {
	box-sizing: border-box;
}


li {
    list-style: none;
}

ul {
    list-style-type: none;
    margin: 30px 250px 0px 0px;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
    margin: 0 18px;
    right: 250px;
    font-weight: 900;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}